<nav>
  <ul>
    <li><a href="{{ site.baseurl }}">Home</a></li>
    <li><a href="{{ site.baseurl }}lettings">Lettings</a></li>
    <li><a href="{{ site.baseurl }}composting">Composting</a></li>
    <li><a href="http://www.theislipgarage.co.uk/">Islip Garage</a></li>
    <li><a href="http://www.all4s.co.uk/">All4S</a></li>
    <li><a href="{{ site.baseurl }}jobs-islip-thrapston">Jobs</a></li>
    <li><a href="{{ site.baseurl }}contact">Contact</a></li>
  </ul>
</nav>

<script>
    $('nav a').each(function() {
      if ($(this).attr("href") == window.location.pathname) {
        $(this).parent().attr("id", "current");
      }
    });
</script>
