<div class="slick-slider">
  <img src="/assets/cornfield3to1.jpg" alt="The Drayton Estate, Northamptonshire, Rapeseed Field" />
  <img src="/assets/cows3000x1000.jpg" alt="The Drayton Estate, Northamptonshire, Rapeseed Field" />
  <img src="/assets/rapeseed.jpg" alt="The Drayton Estate, Northamptonshire, Rapeseed Field" />
</div>

<script>
  $(document).ready(function(){
    $('.slick-slider').slick({
      infinite: true,
      slidesToShow: 1,
      adaptiveHeight: true,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 20000,
    });
  });
</script>
