@media screen and (max-width: 1280px) {
  .page-width {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  /* Mini reset */
  .left, .right {
    float: none;
    clear: none;
    margin: 0;
  }
  /* Mini reset */

  .table-switch-responsive {
    display: table;
    margin-bottom: 1.5em;
    .left {
      display: table-footer-group;
      h3 {
        margin-top: 0.8em;
      }
    }
    .right {
      display: block;
      margin: auto;
    }
  }

  .normal-responsive {
    margin-bottom: 1.5em;
    .left {
      display: block;
      margin: auto;
    }
    .right {
      width: 100%;
      h3 {
        margin-top: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .contact-details {
    padding-bottom: 0;
    li {
      display: block;
      float: none;
      text-align: center;
      width: 100%;
      &:nth-child(1), &:nth-child(3) {
        text-align: center;
      }
    }
  }

  .logo {
    margin-top: 0.4em;
    height: 8em;
  }

  .navigation ul {
    width: 100%;
    li {
      padding: 0.5em 0;
    }
  }

  .menu-toggle-button {
    display: block;
    background-color: $secondary;
    text-align: center;
    text-transform: uppercase;
    a {
      color: #fff;
      span {
        vertical-align: middle;
        display: table-cell;
        padding: 0.8em;
      }
    }
  }

  .menu-toggle-icon {
    height: 1.5em;
    stroke: #fff;
  }

  .responsive-menu {
    display: block;
    .navigation {
      display: none;
    }
  }

  #normal-menu {
    display: none;
  }

  #toggled-menu {
    ul li {
      display: block;
      color: #fff;
      width: 100%;
      background-color: $primary;
      &:hover {
        background-color: $secondary;
      }
      #current {
        background-color: $secondary;
      }
      &:last-child {
        border-bottom: $secondary $nav-height/10 solid;
      }
    }
  }
}
