---
layout: compress
---

<!DOCTYPE html>

<html lang="en-GB">

  {% include head.html %}

  <body class="container">

    {% include header.html %}

    <div id="slider" title="The Drayton Estate Homepage">
      <figure>
        <img src="/assets/rapeseed.jpg" alt="The Drayton Estate, Northamptonshire, Rapeseed Field" />
        <img src="/assets/combine3to1.jpg" alt="The Drayton Estate, Northamptonshire, Rapeseed Field" />
      </figure>
    </div>

    <section class="content">

      {{ content }}

    </section>

    {% include footer.html %}

  </body>

</html>
